# 忽略環境變數與機密設定
.env
.env.local
.env.*.local

# node_modules
node_modules/

# build 輸出
.next/
out/

# macOS 系統檔案
.DS_Store

# log 檔案
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode 設定（可選）
.vscode/
src/hooks/batch.js
src/hooks/promisepool.js
